name: EAS Build
on:
  pull_request:
    types: [opened, synchronize, reopened]
jobs:
  build:
    name: Install and build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: npm
      - name: Setup Expo and EAS
        uses: expo/expo-github-action@v8
        with:
          eas-version: latest
          token: ${{ secrets.EXPO_TOKEN }}
      - name: Install dependencies
        run: npm ci
      - name: Build on EAS
        run: eas build --platform ios --non-interactive --no-wait
      # Uncomment below to build Android
      # - name: Build Android on EAS
      #   run: eas build --platform android --non-interactive --no-wait
